/*
	FONTS
*/
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpeSansRegular/OpenSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../fonts/RobotoCondensedRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSansLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaCyr";
    src: url("../fonts/HelveticaNeueCyr.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
