
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Avanti";
    src: url("../fonts/Avanti.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avanti Light";
    src: url("../fonts/AAvanteLtLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avanti Demi Bold";
    src: url("../fonts/AvantiDemiBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avanti Light Italic";
    src: url("../fonts/AvantiLightItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Avanti Bold Italic";
    src: url("../fonts/AvantiLtDemiBoldItalic.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ALS";
    src: url("../fonts/rouble.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}