
//Colors
$color-red: #e52e2e;

// Fonts
$OpenSansLight: 'Open Sans Light', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;
$HelveticaCyr: "HelveticaCyr", sans-serif;