/*@media (min-width: 768px) and (max-width: 1165px) {
	.container{
		width: 100%;
		padding: 0px 20px;
	}
	.article{
		width: 96%;
		margin-left: 20px;
	}
	.post-list{
		width: 73%;
	}
	aside{
		width: 25%;
	}
	.post__info{
		display: none;
	}
	.post__img img{
		max-width: 190px;
	}
}*/