$bg-color: #e5e5e3;
$bg-header: #f7f7f7;
$bg-footer: #202020;

$title-font: "Kaffeesatz", sans-serif;
$text-font: "ArialNarrowRegular", sans-serif;
$font-default: "Arial", sans-serif;

$mgn-block: 65px;

